<!-- TODO add tf_static for IMU and other sensors to provide offset -->
<launch output="screen">
  <group ns="fusion">
    <rosparam command="load" file="$(find odometry)/params/fusion.yaml" />

    <!-- TFs -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="vo_to_base" args="-.22 .18 .69 1.570796 3.14159265 1.570796 base_link camera_rgb_optical_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_to_base" args="0.1778 0 0.3048 0 0 0 base_link wheel_encoders 100" />
    <node pkg="tf" type="static_transform_publisher" name="rgb_to_depth" args="0 0 0 0 0 0 camera_rgb_optical_frame camera_depth_optical_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="camopt_to_link" args="0 0 0 0 0 0 camera_rgb_optical_frame camera_link 100" /> -->

    <node pkg="tf" type="static_transform_publisher" name="imu_to_base" args="0 0 0.05 0 0 3.14159265 base_link imu_link 30" />
    <node pkg="tf" type="static_transform_publisher" name="hack" args="0 0 0 0 0 0 map odom 30" />

    <!-- Local fusion -->
    <node pkg="robot_localization" type="ekf_localization_node" name="local_fusion" output="screen">
      <remap from="odometry/filtered" to="local_fusion/filtered"/>
    </node>

    <!-- Map fusion 
    <node pkg="robot_localization" type="ekf_localization_node" name="map_fusion">
      <remap from="odometry/filtered" to="map_fusion/filtered"/>
    </node>
    -->

    <!--
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true">
      <param name="magnetic_declination_radians" value="0"/>
      <param name="yaw_offset" value="0"/>
      <remap from="/gps/fix" to="gps/fix" />
      <remap from="/imu/data" to="/fusion/imu/data" />
      <remap from="odometry/filtered" to="local_fusion/filtered" />
    </node>
    -->

    <!-- GOAL 
    <node pkg="odometry" type="goal_pub.py" name="goal_pub"/>
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true">
      <remap from="/gps/fix" to="goal_coords" />
      <remap from="odometry/filtered" to="goal" />
    </node>
    -->

    <!--
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="delete_db_on_start">
      <arg name="depth_topic" value="/camera/depth_registered/sw_registered/image_rect_raw"/>
      <remap from="odom" to="local_fusion/filtered"/>
      <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
      <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
      <remap from="depth/image" to="/camera/depth_registered/sw_registered/image_rect_raw"/>
    </node>
    -->
  </group>
</launch>
