<launch output="screen">
  <!-- Zed camera -->
  <node pkg="tf" type="static_transform_publisher" name="vo_to_base" args="0 0 0 0 0 0 base_link zed_center 16.1515151" />
  <include file="$(find odometry)/launch/zed_camera.launch"/>
  <include file="$(find odometry)/launch/octomap.launch"/>
</launch>
